/* Theme colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*main: #0ED3A8*/
/*main-dark: #0CBD97*/
/*background: #f4f4f4*/
/*foreground: #fff*/

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 5rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 5rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  background-image: url('../img/leaves.png');
  background-size: cover;
  border-bottom: 1px solid #ddd;
  padding: 8rem 0 4em;
}
.hero-header {
  color: #fff;
}
.hero-header img {
  /*border-radius: 50%;*/
  border: 2px solid #fff;
  margin-bottom: 2rem;
  /*width: 200px;*/
}
.hero-heading {
  font-size: 2rem;
}
.nav-header {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: right;
  height: 20px;
  padding: 10px 20px;
  color: #0ED3A8;
}
.nav-header li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
.nav-header li a {
  text-decoration: none;
  color: white;
}
.nav-header li i {
  font-size: 2.5em;
}

/* About Me
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about {
  background-color: #f4f4f4;
  color: #000;
  padding-bottom: 5rem;
}
.about strong {
  font-size: 2rem;
}

/* Toolbox
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.toolbox {
  border-bottom: 1px solid #ddd;
}
.toolbox ul {
  margin-bottom: 5rem;
}

/* Projects
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.projects {
  color: #000;
  background-color: #f4f4f4;
}
.projects .section-description {
  margin-bottom: 4rem;
}
.projects img {
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}
.projects h4 {
  margin-bottom: 6rem;
}

/* Contact Me
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.contact-me {
  border-bottom: 1px solid #ddd;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  background-color: #f4f4f4;
  color: #000;
  position: absolute;
  width: 100%;
}
.nav-footer {
  text-align: right;
  padding: 10px 20px;
  color: #0ED3A8;
}
.nav-footer ul {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.nav-footer li {
  color: #000;
  display: inline;
  list-style-type: none;
  padding-left: 10px;
}
.nav-footer li a {
  color: #000;
  text-decoration: none;
  display: inline;
}
.nav-footer li a:hover {
  color: #333333;
}
.nav-footer li i {
  font-size: 2.5em;
}
#footer > nav > ul > li.copyright {
  float: left;
  padding-left: 0;
  margin-top: 0.5em;
}

/* Individual Project Pages
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.project-page {
  color: #000;
  background-color: #f4f4f4;
}
.project-page .container {
  background-color: #fff;
  padding: 5rem 2rem;
}
.project-page .section-description {
  margin-bottom: 5rem;
}
/*.project-page .section-header {*/
  /*margin-bottom: 2.5rem;*/
/*}*/
 .project-page h2.section-heading {
   margin-bottom: 2.5rem;
 }
.project-page img {
  border: 1px solid #ddd;
  margin-bottom: 5rem;
}
.project-page .features, .built-with {
  margin-bottom: 2.5rem;
}
.project-page .button {
  margin-top: 1rem;
}

/* Particles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#particles-js canvas {
  display: block;
  vertical-align: bottom;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
  transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  /*z-index: -10;*/
  top: 0;
  left: 0
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 10rem 0 11rem;
  }
  .section-heading,
     .section-description {
       margin-bottom: 10rem;
     }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
  .projects h4 {
    font-size: 2rem;
  }
  .project-page .section-heading, .section-description {
    margin-bottom: 5rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 10rem 0 15rem;
  }
  .section-description {
       max-width: 70%;
       margin-left: auto;
       margin-right: auto;
     }
  .section-heading,
  .section-description {
    margin-bottom: 10rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .projects h4 {
    font-size: 3rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 10rem 0 10rem;
  }
  .section-heading,
  .section-description {
    margin-bottom: 5rem;
  }
  .section-description {
    line-height: 2;
  }
  .hero {
    padding: 22rem 0;
  }

  .hero-heading {
    font-size: 3.0rem;
    color: white;
  }
}

/* fireflies
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#header {
  overflow:hidden;
  position:relative;
  /*height: 100%;*/
  /*width: 100%;*/
  background: #000000 url(/portfolio/src/img/pagoda10.jpg) 50% 50% no-repeat;
  background:-ms-linear-gradient(top, #000, #257eb7);
  background:-moz-linear-gradient(top, #000, #257eb7);
  /* background:-webkit-linear-gradient(top, #000, #021522); */
  background:linear-gradient(top, #000, #257eb7);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#040429', EndColorStr='#257eb7');
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#040429', EndColorStr='#257eb7')";
}
#header > .containter {
  z-index:10;
  position: absolute;
  top: 0;
  left: 0;
}

.expertise-list-container{
  font-weight: bold;
  text-align: left;
}

.hero-heading.hero-established{
  font-size: initial;
}

.expertise-list{
  margin-left: 5%;
}

.logo{
  font-family: 'Pattaya', sans-serif;
  font-size: 10rem;
}
@font-face {
  font-family: "Pattaya";
  src: url('/portfolio/src/fonts/Pattaya-Regular.ttf');
  font-weight:400;
}

nav > ul > img{
  max-height: 100px;
  max-width: 400px;
  float: left;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 178px;
  max-height: 150px;
}